@model Asp.Northwind.MvcWebUI.ProductListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/styles/kendo.default.mobile.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/js/jszip.min.js"></script>

    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <h3 align="center">Product List</h3>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Unit Price</th>
                            <th>Units In Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr>
                                <td>@product.ProductName</td>
                                <td>@product.UnitPrice</td>
                                <td>@product.UnitsInStock</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</body>
</html>
